table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th {
	cursor: pointer;
}

th, td {
	text-align: left;
	padding: 16px;
}

tr:nth-child(odd) {
	background-color: #f2f2f2
}

input.search {
	background-position: 10px 12px;
	background-repeat: no-repeat;
	font-size: 16px;
	padding: 6px 10px 6px 20px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
	border-radius: 10px;
}