.profile-form {
    border: 2px solid;
    padding: 20px;
}

.profile-form .row {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.profile-form label {
  margin: 5px 10px 5px 0;
}

.profile-form .title {
    font-weight: bold;
    font-size: 40px;
}

/* .profile-form p {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
} */